In [23]:
import pandas as pd
import numpy as np
import string
import nltk
import re
from nltk.stem import PorterStemmer

In [24]:
tweet_coba = pd.read_csv('ntsana_.csv')
tweet_coba.head(1)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,label
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,bot

In [25]:
tweet = tweet_coba['text']

In [26]:
##case folding & cleaning

In [27]:
def clean_text(text):
    #menghapus username
    text=re.sub('@[^|\s]+',' ',text)
    #mengganti karakter html dengan tanda petik
    text=re.sub('<.*?>','',text)
    #mempertimbangkan huruf dan angka
    text=re.sub('[^a-zA-Z]',' ',text)
    #mengganti line baru dengan spasi
    text=re.sub("\n","",text)
    #mengubah huruf ke kecil semua
    text=text.lower()
    #menghapus single char
    text=re.sub(r"\b[a-zA-Z]\b"," ",text)
    #memisahkan dan menggabungkan kata
    # text=' '.join(text.split())
    return text

In [28]:
tweet_coba['clean'] = [clean_text(i) for i in tweet]
tweet = tweet_coba['clean']

In [29]:
tweet_coba.head(1)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,label,clean
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,bot,rt groovechaja ins https co rexmdaipjl

In [8]:
# Tokenizing

In [9]:
from nltk.tokenize import RegexpTokenizer
regexp = RegexpTokenizer(r'\w+|$[0-9]+|\S+')
tweet_coba['Token'] = tweet_coba['clean'].apply(regexp.tokenize)

In [10]:
tweet_coba.head(1)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,label,clean,Token
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,bot,rt groovechaja ins https co rexmdaipjl,"[rt, groovechaja, ins, https, co, rexmdaipjl]"

In [11]:
normalized_word = pd.read_csv("normalisasi.csv", encoding='latin1')

normalized_word_dict={}
for index, row in normalized_word.iterrows():
    if row[0] not in normalized_word_dict:
        normalized_word_dict[row[0]] = row[1]
                
def normalized_term(document):
    return [normalized_word_dict[term] if term in normalized_word_dict else term for term in document]
tweet_coba['Normalisasi'] = tweet_coba['Token'].apply(normalized_term)
tweet_coba.head(1)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,label,clean,Token,Normalisasi
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,bot,rt groovechaja ins https co rexmdaipjl,"[rt, groovechaja, ins, https, co, rexmdaipjl]","[rt, groovechaja, ins, https, co, rexmdaipjl]"

In [12]:
# Remove Stopwords

In [13]:
s = PorterStemmer()
tweet_coba['stemmed'] = ['tokens'].apply(lambda x: [ps.stem(word) for word in x])
df.head(10)
# Memilih fitur yang paling relevan
vectorizer = CountVectorizer(max_features=1000, stop_words=stopwords.words('english'))
X = vectorizer.fit_transform(df['text']).toarray()
y = df['label']

AttributeError: 'list' object has no attribute 'apply'

In [ ]:
from nltk.corpus import stopwords
import nltk

In [ ]:
# nltk.download("stopwords")

In [ ]:
stopword = stopwords.words('indonesian')
txt_stopword = pd.read_csv("stopword.txt", names=["stopwords"], header = None)

In [ ]:
##masukkan kata tambahan di luar file
stopword.extend(["yaha"])

In [ ]:
stopword.extend(txt_stopword["stopwords"][0].split(' '))
stopword = set(stopword)

In [ ]:
def stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
tweet_coba['Stopwords'] = tweet_coba['Normalisasi'].apply(stopwords)
# tweet_coba.head(5)
tweet_coba

In [ ]:
tweet = pd.DataFrame(tweet_coba)
tweet.to_csv ('ntsana_preprocessing.csv', index = False, header = True)