In [27]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score,accuracy_score
import numpy as np
# Load dataset
dataset = pd.read_csv('testing_dataset_nonunnamed.csv')
dataset.head()

,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,2016-11-09 05:01:30,False,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,False,0.183,1379,human
1,2012-02-14 15:33:48,False,False,Man Utd fan. mostly here for football. Takes p...,36384,2130,3363,True,492306486,en,United Kingdom,http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1211318786...,GhamGraham,63376,False,20.391,3108,human
2,2016-09-03 16:17:01,True,False,amfolowback,139,0,0,False,772106131875500032,en,unknown,NaN,http://pbs.twimg.com/profile_images/7721071683...,NagahamaMazie,272,False,0.188,1445,human
3,2012-01-28 11:40:52,False,False,A/V tech and director. Former self proclaimed ...,12686,2365,296,True,476691783,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1217272013...,CavemanDCJ,18309,False,5.859,3125,human
4,2011-01-27 20:44:28,False,False,Photographer for Arsenal Football Club. Instag...,5023,101576,286,False,243794165,en,Pitchside,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8807666535...,Priceyd101,9728,False,2.787,3491,human

In [28]:
dataset = dataset.drop_duplicates(subset=['screen_name'])

In [29]:
# Functions untuk preprocessing ke Dataframe
def convert_bool_to_int(data: pd.DataFrame, boolean_cols: list):
    try:
        for col in boolean_cols:
            data[col] = data[col].astype(int)
    except Exception as e:
        print(e)
    return data

# def popularity_metric(friends_count: int, followers_count: int):
#     return np.round(np.log(1+friends_count) * np.log(1+followers_count), 3)


# def compute_popularity_metric(row):
#     return popularity_metric(friends_count=row["friends_count"],
#                              followers_count=row["followers_count"])
def compute_reputation(row):
    if row['followers_count'] == 0 or row['friends_count'] == 0:
        return 0
    else:
        return row['followers_count'] / (row['followers_count'] + row['friends_count'])

In [30]:
# Preprocessing menjadikan ke boolean kolom
boolean_cols: list = ["default_profile", "default_profile_image",
                      "geo_enabled", "verified"]
twitter_accounts_df = convert_bool_to_int(data=dataset, boolean_cols=boolean_cols)
twitter_accounts_df.head()

,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,2016-11-09 05:01:30,0,0,Photographing the American West since 1980. I ...,536,860,880,0,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,0,0.183,1379,human
1,2012-02-14 15:33:48,0,0,Man Utd fan. mostly here for football. Takes p...,36384,2130,3363,1,492306486,en,United Kingdom,http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1211318786...,GhamGraham,63376,0,20.391,3108,human
2,2016-09-03 16:17:01,1,0,amfolowback,139,0,0,0,772106131875500032,en,unknown,NaN,http://pbs.twimg.com/profile_images/7721071683...,NagahamaMazie,272,0,0.188,1445,human
3,2012-01-28 11:40:52,0,0,A/V tech and director. Former self proclaimed ...,12686,2365,296,1,476691783,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1217272013...,CavemanDCJ,18309,0,5.859,3125,human
4,2011-01-27 20:44:28,0,0,Photographer for Arsenal Football Club. Instag...,5023,101576,286,0,243794165,en,Pitchside,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8807666535...,Priceyd101,9728,0,2.787,3491,human

In [31]:
# # Mengubah tipe data kolom 'created_at' menjadi datetime
twitter_accounts_df['created_at'] = pd.to_datetime(twitter_accounts_df['created_at'], format='%Y-%m-%d %H:%M:%S')
#menugurutkan
twitter_accounts_df.sort_values(["screen_name", "created_at"])

,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
7056,2014-09-13 16:30:49,1,0,NaN,7566,391,0,0,2807808073,NaN,518,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8525165648...,000torxxx,6880,0,3.176,2166,human
996,2015-03-03 14:50:09,1,0,NaN,2183,12,54,0,3067906221,NaN,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1198728730...,00Laurianne,2922,0,1.465,1995,bot
3297,2012-10-18 02:59:15,1,0,I speak sarcasm and truth. Only people i dont ...,57897,4112,4197,0,887998063,en,in your face USA,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1268961610...,00LovelyDay00,64051,0,22.380,2862,human
5949,2014-04-23 08:02:29,1,0,にこるん。22歳。/167cm/2月20日/ nicola ⇨popteen ⇨vivi @...,74133,2709051,438,0,2459378088,it,オスカープロモーション所属,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1293249850...,0220nicole,49169,1,21.285,2310,human
5798,2015-09-29 15:01:08,1,0,......KAT-TUN亀梨 .....Jin akanishi .....SixTONE...,18478,27,279,1,3726874400,sw,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1204645919...,0220yuho1206,14371,0,8.051,1785,human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4329,2012-06-20 22:53:06,0,0,"Christ Follower, Husband, Father, Bewhiskered ...",4000,653,776,1,613830313,en,"Logan, UT",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/3292842537...,zsiray,7802,0,2.617,2981,human
6890,2011-06-12 08:39:34,1,0,lonely,1133,0,2,0,315688610,it,China,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1392375086...,zsy190,1701,0,0.507,3356,bot
2088,2009-08-27 12:42:15,0,0,I am happy to be me\n❤ Jesus,28,267,224,0,69279477,en,"ÜT: -7.34179,110.482",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1272199140...,zuuuruu,7580,0,1.891,4009,human
3741,2013-07-28 17:00:40,1,0,NaN,834,10,278,0,1628307476,NaN,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/3788000002...,zycy36,1266,0,0.491,2578,bot
7305,2017-06-21 07:21:02,1,0,NaN,5,0,0,0,877426113789788160,NaN,unknown,NaN,http://pbs.twimg.com/profile_images/8774290295...,zywmojtqlwtgvo1,93,0,0.081,1155,bot

In [32]:
twitter_accounts_df['time_diff'] = (twitter_accounts_df['created_at'] - twitter_accounts_df['created_at'].shift()).abs()  / np.timedelta64(1, 'h')

In [33]:
twitter_accounts_df['time_diff'] = twitter_accounts_df['time_diff'].fillna(0) #fill missing value in time_diff with zero
g_sum = 50 #there is 50 tweet per user extracted, so n=50
values = twitter_accounts_df['time_diff']/g_sum #measure the probability for this interval
twitter_accounts_df['Entropy'] = -(values*np.log(values)) #time interval entropy
twitter_accounts_df['Entropy']=twitter_accounts_df['Entropy'].fillna(0) #fill missing value in entropy column with zero
twitter_accounts_df.drop(twitter_accounts_df[twitter_accounts_df.Entropy < 0].index, inplace=True) #if value is negative, it will be eliminated. The reason is because it was an outlier
twitter_accounts_df.drop(['time_diff'], axis=1, inplace=True)

C:\Users\xotiss\AppData\Roaming\Python\Python39\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:

# Create a custom metric to measure the popularity of an input account
twitter_accounts_df["reputation"] = twitter_accounts_df.apply(compute_reputation, axis=1)

# Let's show some examples of such value
twitter_accounts_df[['reputation']]

      reputation
0       0.494253
677     0.308511
1846    0.164474
1958    0.000000
1982    0.000000
2309    0.000000
2675    0.000000
3459    0.307820
4183    0.000000
4436    0.641304
4559    0.708941
4907    0.409836
5358    0.648216
5395    0.177215
5582    0.245949
6211    0.988028
6229    0.999868
6413    0.000000
6709    0.000000

In [ ]:
twitter_accounts_df.head()

,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,...,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type,Entropy,reputation
0,2016-11-09 05:01:30,0,0,Photographing the American West since 1980. I ...,536,860,880,0,796216118331310080,en,...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,0,0.183,1379,human,0.000000,0.494253
677,2009-08-22 16:04:07,0,0,แป๋มแป๋ม ♥♥♥♥,2274,29,65,1,67918711,th,...,http://abs.twimg.com/images/themes/theme3/bg.gif,http://pbs.twimg.com/profile_images/3340837622...,clazppamp,4032,0,1.004,4014,bot,0.000067,0.308511
1846,2012-02-18 09:24:46,1,0,NaN,1689,25,127,0,495778795,NaN,...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/5897359026...,edwinjoselo,2514,0,0.810,3105,human,0.225903,0.164474
1958,2017-06-21 10:26:56,1,0,حمدلله ع كل حل,29,0,0,0,877472898910371841,ar,...,NaN,http://pbs.twimg.com/profile_images/8795126629...,pxylwgqwraqhih1,154,0,0.133,1155,bot,0.337138,0.000000
1982,2017-06-21 04:15:12,1,0,‏يَآرَبْ وإِنْ جَاتِكْ الدَعْواتْمَكْسُورَه إف...,35,0,0,0,877379348197556225,ar,...,NaN,http://pbs.twimg.com/profile_images/8796191969...,gyxpugqv1815,297,0,0.257,1155,bot,0.092461,0.000000

In [34]:
# Group by username and compute mean of parameter
# grouped = twitter_accounts_df.groupby('screen_name')
# groupie = grouped.agg(np.mean)
# groupie.drop(['time_diff'], axis=1, inplace=True)
# # Display the result
# groupie.head()
# groupie.to_csv('hasil_preprocessing.csv')

In [35]:
# EDA

import matplotlib as mpl
import seaborn as sns
from matplotlib import pyplot as plt
from collections import OrderedDict

mpl.rcParams['font.family'] = 'sans-serif'
mpl.rcParams['figure.figsize'] = 12, 8
mpl.rcParams['font.sans-serif'] = ['Tahoma']
sns.set(font_scale=1.5)
sns.set_style("whitegrid")

In [36]:
# Set up some parameters for EDA
palette: str = "husl"
grouped: str = "account_type"
default_value: str = "unknown"

In [37]:
import logging
logger = logging.getLogger(__name__)

def get_labels_colors_from_pandas_column(df: pd.DataFrame, column: str, palette: str):
    data_labels: dict = dict()
    try:
        labels: list = df[column].unique().tolist()
        colors: list = sns.color_palette(palette, len(labels))
        data_labels: dict = dict(zip(labels, colors))
    except Exception as e:
        logger.error(e)
    return data_labels

# Retrieve labels and additional parameters to plot figures
data_labels: dict = get_labels_colors_from_pandas_column(
    df=twitter_accounts_df, column=grouped, palette=palette)

In [38]:
# Show labels
print(f"Unique Target values: {data_labels.keys()}")

Unique Target values: dict_keys(['human', 'bot'])

In [39]:
# Functions to plot data distributions
def plot_multiple_histograms(data: pd.DataFrame,
                             grouped_col: str,
                             target_col: str,
                             data_labels: dict):
    # Plot
    plt.figure(figsize=(12, 10))
    title = "\n"
    labels: list = list(data_labels.keys())
    for j, i in enumerate(labels):
        x = data.loc[data[grouped_col] == i, target_col]
        mu_x = round(float(np.mean(x)), 3)
        sigma_x = round(float(np.std(x)), 3)
        ax = sns.distplot(x, color=data_labels.get(i), label=i, hist_kws=dict(alpha=.1),
                          kde_kws={'linewidth': 2})
        ax.axvline(mu_x, color=data_labels.get(i), linestyle='--')
        ax.set(xlabel=f"{target_col.title()}", ylabel='Density')
        title += f"Parameters {str(i)}: $G(\mu=$ {mu_x}, $\sigma=$ {sigma_x} \n"
        ax.set_title(title)
    plt.legend(title="Account Type")
    plt.grid()
    plt.tight_layout()
    plt.show()


def plot_multiple_boxplots(data: pd.DataFrame, grouped_col: str, target_col: str,
                           palette: str = "husl"):
    plt.figure(figsize=(12, 10))

    means: dict = data.groupby([grouped_col])[target_col].mean().to_dict(OrderedDict)
    counter: int = 0

    bp = sns.boxplot(x=grouped_col, y=target_col, data=data, palette=palette, order=list(means.keys()))
    bp.set(xlabel='', ylabel=f"{target_col.title()}")
    ax = bp.axes

    for k, v in means.items():
        # every 4th line at the interval of 6 is median line
        # 0 -> p25 1 -> p75 2 -> lower whisker 3 -> upper whisker 4 -> p50 5 -> upper extreme value
        mean = round(v, 2)
        ax.text(
            counter,
            mean,
            f'{mean}',
            ha='center',
            va='center',
            fontweight='bold',
            size=10,
            color='white',
            bbox=dict(facecolor='#445A64'))
        counter += 1
    bp.figure.tight_layout()
    plt.grid()
    plt.show()

In [40]:
target: str = "reputation"  
# Extract histograms
# plot_multiple_histograms(data=twitter_accounts_df, 
#                          grouped_col=grouped,
#                          data_labels=data_labels,
#                          target_col=target)
# Extract Box-plots
plot_multiple_boxplots(data=twitter_accounts_df,
                       grouped_col=grouped,
                       target_col=target,
                       palette=palette)

KeyError: 'Column not found: reputation'

In [ ]:
# analyse the average tweets per day
target: str = "account_age_days"  
# # Extract histograms
# plot_multiple_histograms(data=twitter_accounts_df, 
#                          grouped_col=grouped,
#                          data_labels=data_labels,
#                          target_col=target)
# Extract Box-plots
plot_multiple_boxplots(data=twitter_accounts_df,
                       grouped_col=grouped,
                       target_col=target,
                       palette=palette)

In [ ]:
target_col: str = "verified"
twitter_accounts_df2 = twitter_accounts_df.groupby([grouped, target_col])[grouped].count().unstack(target_col)
twitter_accounts_df2.plot(kind='bar', stacked=True)

In [ ]:
target: str = "statuses_count"  
# Extract histograms
# plot_multiple_histograms(data=twitter_accounts_df, 
#                          grouped_col=grouped,
#                          data_labels=data_labels,
#                          target_col=target)
# Extract Box-plots
plot_multiple_boxplots(data=twitter_accounts_df,
                       grouped_col=grouped,
                       target_col=target,
                       palette=palette)

In [41]:
twitter_accounts_df.describe().to_excel('descriptive_statistics3.xlsx')
print(twitter_accounts_df)

              created_at  default_profile  default_profile_image  \
0    2016-11-09 05:01:30                0                      0
677  2009-08-22 16:04:07                0                      0
1846 2012-02-18 09:24:46                1                      0
1958 2017-06-21 10:26:56                1                      0
1982 2017-06-21 04:15:12                1                      0
2309 2016-09-03 22:52:27                1                      0
2675 2017-06-21 08:25:41                1                      0
3459 2017-02-01 17:51:19                1                      0
4183 2017-04-04 07:40:32                1                      0
4436 2009-07-24 02:13:32                0                      0
4559 2011-07-19 20:08:16                0                      0
4907 2016-09-03 04:02:20                1                      0
5358 2011-05-29 16:10:04                0                      0
5395 2011-09-30 13:17:38                1                      0
5582 2009-07-02 18:34:49                0                      0
6211 2009-03-17 08:23:30                0                      0
6229 2009-08-28 20:17:26                0                      0
6413 2016-09-04 18:16:52                1                      0
6709 2016-09-04 07:01:27                1                      0

                                            description  favourites_count  \
0     Photographing the American West since 1980. I ...               536
677                                       แป๋มแป๋ม ♥♥♥♥              2274
1846                                                NaN              1689
1958                                     حمدلله ع كل حل                29
1982  ‏يَآرَبْ وإِنْ جَاتِكْ الدَعْواتْمَكْسُورَه إف...                35
2309  Specialst Travel Agent. Airline tickets! I can...                74
2675                                           اسر الله                57
3459                                                NaN               572
4183  Assumed decimal point: located two positions t...                23
4436                                      toronto. ∞20.              2051
4559  Journalist, blogger, libertarian. Fights idioc...             14778
4907            Cryptoshi - CryptoCurrency Web Services              1864
5358                                               💋💋👩💞               950
5395  Evangelist, Intercessor, blogger, social worke...              1237
5582  “It’s difficult to free fools from the chains ...             19634
6211  A guy who’s real name wasn’t street enough to ...              2575
6229  The Official Kenan Doğulu Twitter Account // K...               872
6413                                         usc Unhead                50
6709                      -x- Let te musi dothe talking                81

      followers_count  friends_count  geo_enabled                  id lang  \
0                 860            880            0  796216118331310080   en
677                29             65            1            67918711   th
1846               25            127            0           495778795  NaN
1958                0              0            0  877472898910371841   ar
1982                0              0            0  877379348197556225   ar
2309                0              0            0  772205646594863104   en
2675                1              0            0  877442383759134720   ar
3459              185            416            0  826850430185590786  NaN
4183                1              0            0  849164769894576130   en
4436              118             66            1            59661520   it
4559             1118            459            0           338587175   en
4907               25             36            0  771921239841570816   en
5358             5633           3057            0           307419281  NaN
5395               28            130            0           382655684   en
5582              592           1815            1            53146940   en
6211           337700           4092            1            24856567   en
6229          2633498            347            1            69683823   en
6413                0              0            0  772498678904918016   en
6709                1              0            0  772328707767894016   en

                location                       profile_background_image_url  \
0         Estados Unidos   http://abs.twimg.com/images/themes/theme1/bg.png
677              unknown   http://abs.twimg.com/images/themes/theme3/bg.gif
1846             unknown   http://abs.twimg.com/images/themes/theme1/bg.png
1958             unknown                                                NaN
1982             unknown                                                NaN
2309             unknown                                                NaN
2675             unknown                                                NaN
3459  Cagliari, Sardegna                                                NaN
4183          Birmingham                                                NaN
4436          my circle.   http://abs.twimg.com/images/themes/theme1/bg.png
4559        Walhalla, SC  http://abs.twimg.com/images/themes/theme14/bg.gif
4907             unknown                                                NaN
5358       Illinois, USA   http://abs.twimg.com/images/themes/theme1/bg.png
5395         TWIN CITIES   http://abs.twimg.com/images/themes/theme1/bg.png
5582       United States   http://abs.twimg.com/images/themes/theme1/bg.png
6211     Los Angeles, CA   http://abs.twimg.com/images/themes/theme1/bg.png
6229            Istanbul   http://abs.twimg.com/images/themes/theme1/bg.png
6413             unknown                                                NaN
6709             unknown                                                NaN

                                      profile_image_url      screen_name  \
0     http://pbs.twimg.com/profile_images/8023296328...     CJRubinPhoto
677   http://pbs.twimg.com/profile_images/3340837622...        clazppamp
1846  http://pbs.twimg.com/profile_images/5897359026...      edwinjoselo
1958  http://pbs.twimg.com/profile_images/8795126629...  pxylwgqwraqhih1
1982  http://pbs.twimg.com/profile_images/8796191969...     gyxpugqv1815
2309  http://pbs.twimg.com/profile_images/7722069407...      RangerHawke
2675  http://pbs.twimg.com/profile_images/8796187184...  igpgipcukvneev1
3459  http://pbs.twimg.com/profile_images/8268523706...     Stellacdolce
4183  http://pbs.twimg.com/profile_images/8549790158...  14ngRxNWEr1T8gP
4436  http://pbs.twimg.com/profile_images/2691886223...  dippedinfinesse
4559  http://pbs.twimg.com/profile_images/6950331873...    TheFree_Lance
4907  http://pbs.twimg.com/profile_images/7767842301...  dyachkovalyuts1
5358  http://pbs.twimg.com/profile_images/1098877772...     StraatkrantB
5395  http://pbs.twimg.com/profile_images/4664990497...  deanfrancis1975
5582  http://pbs.twimg.com/profile_images/1293860063...     ThaJudicator
6211  http://pbs.twimg.com/profile_images/9906981128...           d_TRIX
6229  http://pbs.twimg.com/profile_images/1025449058...      kenandogulu
6413  http://pbs.twimg.com/profile_images/8803479381...  Winniekeene2766
6709  http://pbs.twimg.com/profile_images/7723297999...   lorello_willow

      statuses_count  verified  average_tweets_per_day  account_age_days  \
0                252         0                   0.183              1379
677             4032         0                   1.004              4014
1846            2514         0                   0.810              3105
1958             154         0                   0.133              1155
1982             297         0                   0.257              1155
2309             171         0                   0.118              1445
2675             269         0                   0.233              1155
3459            3580         0                   2.767              1294
4183             163         0                   0.132              1233
4436            2634         0                   0.651              4044
4559           72072         0                  21.722              3318
4907            1865         0                   1.290              1446
5358            2112         0                   0.627              3369
5395            1786         0                   0.550              3245
5582           19688         0                   4.843              4065
6211           16533         1                   3.962              4173
6229            1713         1                   0.427              4008
6413             129         0                   0.089              1444
6709             209         0                   0.145              1445

     account_type   Entropy
0           human  0.000000
677           bot  0.000067
1846        human  0.225903
1958          bot  0.337138
1982          bot  0.092461
2309        human  0.346114
2675          bot  0.125661
3459          bot  0.220813
4183          bot  0.349450
4436        human  0.367756
4559        human  0.000067
4907          bot  0.339976
5358        human  0.356207
5395          bot  0.349346
5582        human  0.000183
6211        human  0.257435
6229        human  0.000067
6413        human  0.360572
6709        human  0.324957

In [45]:
from sklearn.preprocessing import MinMaxScaler
twitter_accounts_df = twitter_accounts_df.drop('created_at', axis=1)
scaler = MinMaxScaler(feature_range=(0,100))
scale_df = scaler.fit_transform(twitter_accounts_df)

# Membuat DataFrame dari data yang telah discaling
scaled_df = pd.DataFrame(scaled_data, columns=data.columns)

# Menyimpan DataFrame ke dalam file CSV
scaled_df.to_csv('data_scaled.csv', index=False)

C:\Users\xotiss\AppData\Local\Temp\ipykernel_10736\1161994956.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  twitter_accounts_df = twitter_accounts_df.drop('created_at','description', axis=1)

TypeError: drop() got multiple values for argument 'axis'

In [ ]:
# Preprocess Response variable (account type)
twitter_accounts_df[grouped] = twitter_accounts_df[grouped].astype('category')
twitter_accounts_df.dtypes

In [ ]:
twitter_accounts_df[grouped] = twitter_accounts_df[grouped].cat.codes
twitter_accounts_df.head()

In [ ]:
twitter_accounts_df_num: pd.DataFrame = twitter_accounts_df.copy()
twitter_accounts_df_num: pd.DataFrame = twitter_accounts_df_num._get_numeric_data()
twitter_accounts_df_num.head()

In [ ]:
# Remove columns
drop_cols: list = ["id"]
twitter_accounts_df_num.drop(drop_cols, axis=1,inplace=True)
twitter_accounts_df_num.head()

In [ ]:
# Compute correlation among the features and the response variable
corr: pd.DataFrame = twitter_accounts_df_num.corr()
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values,
            annot = True, fmt='.1g', cmap= 'coolwarm')

In [ ]:
# twitter_accounts_df_num.corr().to_excel('descriptive_statistics.xlsx')#

In [ ]:
twitter_accounts_df_num.head()
fitur = twitter_accounts_df_num

In [ ]:
# fitur = dataset[['verified', 'default_profile','default_profile_image','favourites_count','followers_count','friends_count','geo_enabled','statuses_count','verified','average_tweets_per_day']]
# fitur = twitter_account_df_num
# Pilih label yang akan digunakan
label = dataset['account_type']

# Pisahkan data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(fitur, label, test_size=0.2, random_state=42)

# Membuat model Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Melatih model dengan data latih
model.fit(X_train, y_train)

plt.bar(fitur.columns, model.feature_importances_)
plt.xticks(rotation=90)
plt.show()

# Memprediksi label pada data uji
y_pred = model.predict(X_test)

# Menghitung akurasi
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

In [ ]:
cm = confusion_matrix(y_test, y_pred)

# membuat plot confusion matrix
sns.heatmap(cm, annot=True, fmt='g')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.show()
print(cm)