In [1]:
import pandas as pd
import numpy as np
import string
import nltk
import re

In [2]:
tweet_coba = pd.read_csv('ntsana_.csv')
tweet_coba.head(1)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00

In [3]:
tweet = tweet_coba['text']

In [4]:
##case folding & cleaning

In [5]:
def clean_text(text):
    #menghapus username
    text=re.sub('@[^|\s]+',' ',text)
    #mengganti karakter html dengan tanda petik
    text=re.sub('<.*?>','',text)
    #mempertimbangkan huruf dan angka
    text=re.sub('[^a-zA-Z]',' ',text)
    #mengganti line baru dengan spasi
    text=re.sub("\n","",text)
    #mengubah huruf ke kecil semua
    text=text.lower()
    #menghapus single char
    text=re.sub(r"\b[a-zA-Z]\b"," ",text)
    #memisahkan dan menggabungkan kata
    text=' '.join(text.split())
    return text

In [6]:
tweet_coba['clean'] = [clean_text(i) for i in tweet]
tweet = tweet_coba['clean']

In [7]:
tweet_coba.head(10)
print(tweet_coba)

     Unnamed: 0                   id username  \
0             0  1622612766266900481  ntsana_
1             1  1622583399105069057  ntsana_
2             2  1621496343834546177  ntsana_
3             3  1621164409728176129  ntsana_
4             4  1620046837246988288  ntsana_
..          ...                  ...      ...
192         192  1595049015325999107  ntsana_
193         193  1595048991556632578  ntsana_
194         194  1595048974959796224  ntsana_
195         195  1595048897260290048  ntsana_
196         196  1595048808022306816  ntsana_

                                                  text  retweet_count  \
0    RT @knockknock0408: groovechaja ins\n@weareone...           4534
1    ðŸ¤¡ https://t.co/sly9cEUdaB https://t.co/OgZhRSmYJh            585
2    ðŸ˜­ https://t.co/7suaOGFlx3 https://t.co/NxnNkXFwU9            571
3                    RT @B_hundred_Hyun: ê³§ë§Œë‚˜!!&gt;&lt;         115056
4    mantap \nhttps://t.co/bGA4lyxu3v https://t.co/...            285
..                                                 ...            ...
192  RT @_amorfatih: "Ke Jakarta naik taksi I love ...             34
193                    @cloudssmiley @rintiksedupod ðŸ˜˜ðŸ˜˜              0
194  RT @cloudssmiley: Ahhh bagus banget episode in...              1
195                              @ichigatstu sayang ðŸ¥¹ðŸ¤—              4
196                                   @cnc100ml ðŸ¤£ðŸ¤£ðŸ¤£ðŸ’›ðŸ’›ðŸ’›              0

     like_count                 created_at  \
0             0  2023-02-06 15:06:44+00:00
1          3838  2023-02-06 13:10:03+00:00
2          4843  2023-02-03 13:10:28+00:00
3             0  2023-02-02 15:11:29+00:00
4          2321  2023-01-30 13:10:39+00:00
..          ...                        ...
192           0  2022-11-22 13:38:14+00:00
193          14  2022-11-22 13:38:08+00:00
194           0  2022-11-22 13:38:04+00:00
195          25  2022-11-22 13:37:46+00:00
196          28  2022-11-22 13:37:25+00:00

                                                 clean
0               rt groovechaja ins https co rexmdaipjl
1              https co sly ceudab https co ogzhrsmyjh
2                 https co suaogflx https co nxnnkxfwu
3                                             rt gt lt
4           mantap https co bga lyxu https co wqcwd sw
..                                                 ...
192  rt ke jakarta naik taksi love you meskipun kam...
193
194  rt ahhh bagus banget episode ini suka https co...
195                                             sayang
196

[197 rows x 8 columns]

In [8]:
# Tokenizing

In [9]:
from nltk.tokenize import RegexpTokenizer
regexp = RegexpTokenizer(r'\w+|$[0-9]+|\S+')
tweet_coba['Token'] = tweet_coba['clean'].apply(regexp.tokenize)

In [10]:
tweet_coba.head(1)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,clean,Token
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,rt groovechaja ins https co rexmdaipjl,"[rt, groovechaja, ins, https, co, rexmdaipjl]"

In [11]:
normalized_word = pd.read_csv("normalisasi.csv", encoding='latin1')

normalized_word_dict={}
for index, row in normalized_word.iterrows():
    if row[0] not in normalized_word_dict:
        normalized_word_dict[row[0]] = row[1]
                
def normalized_term(document):
    return [normalized_word_dict[term] if term in normalized_word_dict else term for term in document]
tweet_coba['Normalisasi'] = tweet_coba['Token'].apply(normalized_term)
tweet_coba.head(5)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,clean,Token,Normalisasi
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,rt groovechaja ins https co rexmdaipjl,"[rt, groovechaja, ins, https, co, rexmdaipjl]","[rt, groovechaja, ins, https, co, rexmdaipjl]"
1,1,1622583399105069057,ntsana_,ðŸ¤¡ https://t.co/sly9cEUdaB https://t.co/OgZhRSmYJh,585,3838,2023-02-06 13:10:03+00:00,https co sly ceudab https co ogzhrsmyjh,"[https, co, sly, ceudab, https, co, ogzhrsmyjh]","[https, co, sly, ceudab, https, co, ogzhrsmyjh]"
2,2,1621496343834546177,ntsana_,ðŸ˜­ https://t.co/7suaOGFlx3 https://t.co/NxnNkXFwU9,571,4843,2023-02-03 13:10:28+00:00,https co suaogflx https co nxnnkxfwu,"[https, co, suaogflx, https, co, nxnnkxfwu]","[https, co, suaogflx, https, co, nxnnkxfwu]"
3,3,1621164409728176129,ntsana_,RT @B_hundred_Hyun: ê³§ë§Œë‚˜!!&gt;&lt;,115056,0,2023-02-02 15:11:29+00:00,rt gt lt,"[rt, gt, lt]","[rt, begitu, lt]"
4,4,1620046837246988288,ntsana_,mantap \nhttps://t.co/bGA4lyxu3v https://t.co/...,285,2321,2023-01-30 13:10:39+00:00,mantap https co bga lyxu https co wqcwd sw,"[mantap, https, co, bga, lyxu, https, co, wqcw...","[mantap, https, co, bga, lyxu, https, co, wqcw..."

In [12]:
# Remove Stopwords

In [13]:
from nltk.corpus import stopwords
import nltk

In [14]:
# nltk.download("stopwords")

In [15]:
stopword = stopwords.words('indonesian')
txt_stopword = pd.read_csv("stopword.txt", names=["stopwords"], header = None)

In [16]:
##masukkan kata tambahan di luar file
stopword.extend(["yaha"])

In [17]:
stopword.extend(txt_stopword["stopwords"][0].split(' '))
stopword = set(stopword)

In [19]:
def stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
tweet_coba['Stopwords'] = tweet_coba['Normalisasi'].apply(stopwords)
tweet_coba.head(5)

,Unnamed: 0,id,username,text,retweet_count,like_count,created_at,clean,Token,Normalisasi,Stopwords
0,0,1622612766266900481,ntsana_,RT @knockknock0408: groovechaja ins\n@weareone...,4534,0,2023-02-06 15:06:44+00:00,rt groovechaja ins https co rexmdaipjl,"[rt, groovechaja, ins, https, co, rexmdaipjl]","[rt, groovechaja, ins, https, co, rexmdaipjl]","[rt, groovechaja, ins, https, co, rexmdaipjl]"
1,1,1622583399105069057,ntsana_,ðŸ¤¡ https://t.co/sly9cEUdaB https://t.co/OgZhRSmYJh,585,3838,2023-02-06 13:10:03+00:00,https co sly ceudab https co ogzhrsmyjh,"[https, co, sly, ceudab, https, co, ogzhrsmyjh]","[https, co, sly, ceudab, https, co, ogzhrsmyjh]","[https, co, sly, ceudab, https, co, ogzhrsmyjh]"
2,2,1621496343834546177,ntsana_,ðŸ˜­ https://t.co/7suaOGFlx3 https://t.co/NxnNkXFwU9,571,4843,2023-02-03 13:10:28+00:00,https co suaogflx https co nxnnkxfwu,"[https, co, suaogflx, https, co, nxnnkxfwu]","[https, co, suaogflx, https, co, nxnnkxfwu]","[https, co, suaogflx, https, co, nxnnkxfwu]"
3,3,1621164409728176129,ntsana_,RT @B_hundred_Hyun: ê³§ë§Œë‚˜!!&gt;&lt;,115056,0,2023-02-02 15:11:29+00:00,rt gt lt,"[rt, gt, lt]","[rt, begitu, lt]","[rt, lt]"
4,4,1620046837246988288,ntsana_,mantap \nhttps://t.co/bGA4lyxu3v https://t.co/...,285,2321,2023-01-30 13:10:39+00:00,mantap https co bga lyxu https co wqcwd sw,"[mantap, https, co, bga, lyxu, https, co, wqcw...","[mantap, https, co, bga, lyxu, https, co, wqcw...","[mantap, https, co, bga, lyxu, https, co, wqcw..."