In [1]:
#import library yang di butuhkan
import pandas as pd
import numpy as np
import re

# Load dataset
dataset = pd.read_csv('testing_dataset.csv')
# dataset = pd.read_csv('training_dataset.csv')

# menghapus nilai duplikat yang sama
dataset = dataset.drop_duplicates(keep='first', inplace=False)

# mengubah format datetime dalam format standar
dataset['created_at']= pd.to_datetime(dataset['created_at'])

print(len(dataset))
print(dataset['created_at'].dtype)
# dataset.replace(np.inf, 0) 
# dataset.replace(-np.inf, 0)

#menghitung jumlah ratio status dengan engan membagi nilai kolom 'statuses_count' dengan nilai kolom 'account_age_days'
dataset['ratio_statuses_count_per_age']=dataset['statuses_count']/dataset['account_age_days']

#menghitung jumlah ratio status dengan engan membagi nilai kolom 'favourites_count' dengan nilai kolom 'account_age_days'
dataset['ratio_favorites_per_age']=dataset['favourites_count']/dataset['account_age_days']

#menghitung jumlah ratio status dengan engan membagi nilai kolom 'friends_count' dengan nilai kolom 'followers_count'
dataset['ratio_friends_per_followers']=dataset['friends_count']/dataset['followers_count']

#mengisi nilai yang hilang (missing values) dalam kolom 'description' dengan nilai 'x'.
dataset['description'].fillna('x', inplace = True)

# menghitung jumlah kata dalam kolom 'description' dan ambda ini akan mengubah nilai ke dalam string
dataset['word_count']=dataset['description'].apply(lambda x: 
len(str(x).split(" ")))#count the word

# menghitung jumlah karakter dalam setiap entri kolom 'description' dataset
dataset['char_count'] = dataset['description'].str.len()

#menghitung rasio reputasi dengan membagi jumlah pengikut dengan jumlah total pengikut dan teman
dataset['reputation']= dataset['followers_count']/(dataset['followers_count']+ dataset['friends_count'])
dataset.head()
print(len(dataset))

# Mengubah tipe data kolom 'created_at' menjadi datetime
dataset['created_at'] = pd.to_datetime(dataset['created_at'])
#menugurutkan berdasarkan nama dan waktu
dataset.sort_values(["screen_name", "created_at"])
dataset.head()
print(len(dataset))

#menghapus kolom created_at
dataset.drop(['created_at'], axis=1,inplace=True)
# dataset.head()

# mengubah menjadi boolean dan mengecek apakah tidak ada null.
dataset['location']=pd.notnull(dataset['location'])
dataset.head()
print(len(dataset))

# mengecek apakah dalam descripsi ada teks bot atau tidak dan menjadikannya kedalam bolean
dataset['contains_bot_name']=dataset['description'].str.extract("\b(bot|b0t|updates|hourly|automatically|generating|generated|every|computer-generated|twitterbot|automated|FakeBots|')\b|Bots", 
                                                                    flags=re.IGNORECASE,expand=False)
                                                                    # regex=True)
#menghitung jumlah entri dalam kolom 'contains_bot_name' yang bernilai True.
dataset['contains_bot_name'].fillna(0).astype(bool).sum(axis=0)

#mengubah tipe data kolom 'description' menjadi tipe data string (str).
dataset['description'] = dataset['description'].astype(str)

#menghitung jumlah kata dalam setiap entri kolom 'description' dan menyimpan hasilnya dalam kolom baru 'description_word_count'
dataset['description_word_count'] = dataset['description'].apply(lambda x: len(str(x).split()))

 # menghitung jumlah karakter di setiap kata dalam kolom 'description',kemudian menjumlahkannya dan disimpan dalam kolom 'description_character_count'.
dataset['description_character_count'] = dataset['description'].apply(lambda x: sum(len(word) for word in str(x).split()))

# menghitung rata-rata jumlah karakter per kata di kolom 'description', dan disimpan dalam kolom 'avg_word'.
dataset['avg_word'] = dataset['description_character_count'] / dataset['description_word_count']
dataset.head()

#menghapus screen_name dan description
dataset.drop(['screen_name','description'], inplace=True, axis=1)
# dataset.head()
#memilih semua kolom dalam dataset kecuali kolom-kolom yang mengandung string "Unnamed:0"
dataset.loc[:, ~dataset.columns.str.contains('^Unnamed:0')]

# menggantikan nilai-nilai yang hilang dalam kolom 'reputation' dengan nilai 0
dataset["reputation"].fillna(0, inplace = True) 

# menggantikan nilai-nilai yang hilang dalam kolom 'contains_bot_name' dengan nilai False.
dataset["contains_bot_name"].fillna(False, inplace=True)

 # mengganti nilai tak terhingga (np.inf) dengan 0
dataset.replace(np.inf, 0)

# menggantikan nilai tak terhingga negatif (-np.inf)  dalam dataset dengan nilai 0.
dataset.replace(-np.inf, 0)

#menggantikan nilai tak terhingga (np.inf) dan nilai tak terhingga negatif (-np.inf) dalam dataset dengan nilai NaN (Not a Number)
dataset=dataset.replace([np.inf, -np.inf], np.nan)

# menggantikan nilai tak terhingga (np.inf) dan nilai tak terhingga negatif (-np.inf) dengan nilai NaN,kemudian menghapus baris yang seluruhnya terdiri dari nilai NaN
dataset=dataset.replace([np.inf, -np.inf], np.nan).dropna(how="all")
 # nilai-nilai yang hilang dalam dataset dengan nilai rata-rata dari setiap kolom
dataset = dataset.fillna(dataset.mean())

# dataset.to_csv('hasilpreprocessing_training.csv', index=False)
dataset.to_csv('hasilpreprocessing_testing.csv', index=False)

300
datetime64[ns]
300
300
300

C:\Users\xotiss\AppData\Local\Temp\ipykernel_3340\3202266757.py:105: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset = dataset.fillna(dataset.mean())

In [2]:
dataset.head()

,default_profile,favourites_count,followers_count,friends_count,id,location,statuses_count,verified,account_age_days,account_type,ratio_statuses_count_per_age,ratio_favorites_per_age,ratio_friends_per_followers,word_count,char_count,reputation,contains_bot_name,description_word_count,description_character_count,avg_word
0,False,536,860,880,796216118331310080,True,252,False,1379,human,0.182741,0.388687,1.023256,24,160,0.494253,False,24,137,5.708333
1,True,64,24,0,1015021614,True,277,False,2802,human,0.098858,0.022841,0.000000,1,1,1.000000,False,1,1,1.000000
2,False,49058,1950090,1574,313087874,True,81833,True,3360,human,24.355060,14.600595,0.000807,1,4,0.999194,False,1,4,4.000000
3,False,4071,252142,562,211550281,True,6029,True,3576,human,1.685962,1.138423,0.002229,17,113,0.997776,False,17,97,5.705882
4,False,534,37278,455,305922144,True,9074,True,3372,human,2.690985,0.158363,0.012206,7,30,0.987942,False,7,24,3.428571